.modal{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.modal-content{
    position: relative;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow:auto;
    border: 1px solid white;
}

.modal img{
    position: relative;
    max-width: 80vw;
    max-height:50vh;
    object-fit: contain;
}