.modal{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-content{
    position: relative;
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow:auto;
    border: 1px solid white;
}

.modal-content img{
    position: relative;
    width: 90%;
}