.home {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.video-container {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.video-container video {
    position: relative;
    height: 100vh;
    width: auto;
    object-fit: cover;
}

.home-content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-content.active {
    width: 20vw;
    position: absolute;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);

}
.volume-slider{
    width: 150px;
}
.home-content.active svg{
    display: none;
}

.home-content h2 {
    color: white;
    font-size: 2rem;
    font-weight: 100;
    border-bottom: 1px solid white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.home-content h2.onPlay {
    border-bottom: 1px solid #FD6262;
}

.home-content h2.offPlay {
    border-bottom: 1px solid gray;
}

.home-content a {
    text-decoration: none;
}

.home-content a.active h2 {
    border-bottom: 1px solid tomato !important;
}

.home-content span {
    padding: 0;
    transition: all 0.3s ease-in-out;
}

.home-content span.offPlay {
    color: gray !important;
}

.home-content span.onPlay {
    color: #FD6262 !important;
}

.page-container {
    position: absolute;
    top: 0;
    right: -100%;
    /* right: 0%; */
    width: 0;
    height: 100%;
    background-color: white;
    transition: all 0.7s ease-in-out;
    /* border-radius: 12px 0px 0px 12px; */
}

.page-container.active {
    right: 0%;
    width: 80vw;
    padding: 20px;
    /* display: block; */
}

@media (min-width:1500px) {
    .video-container video {
        /* width: 100vw;
        height: auto; */
        /* height: 100vh;
        width: auto; */
    }
}

@media all and (max-width:1500px) {

    h2 {
        font-size: 1.5rem !important;
    }

    .home-content.active .volume-slider{
        width: 100px;
    }
}

@media all and (max-width:500px) {

    .video-container video {
        transform: rotate(90deg);
    }

    h2 {
        font-size: 1rem !important;
    }
    .home-content{
        transition: all 0.3s ease-in-out;
    }
    .home-content.active {
        width: 100vw;
        height: 20vh;
        position: absolute;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.3);
        display: grid;
        grid-template-columns: 40% 40%;
        padding: 3px;
    }

    .home-content.active *{
        margin: 3px;
    }
    .page-container {
        position: absolute;
        right: 0%;
        height: 0%;
        width: 100vw;
        background-color: white;
        transition: all 0.7s ease-in-out;
    }

    .page-container.active {
        width: 100vw;
        height: 80vh;
        /* display: block; */
    }
}

@media (max-height:450px) {
    .video-container video {
        height: auto;
        width: 100vw;
    }

    h2 {
        font-size: 1rem !important;
    }
}

