.home{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.video-container{
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow:hidden;
}

.video-container video{
    position: relative;
    height: 100vh;
    width: auto;
}
@media (min-width:1500px){
    .video-container video{
        width: 100vw;
        height: auto;
    }
}
@media all and (max-width:1500px){

    h2{
        font-size: 1.5rem !important;
    }
}

@media (max-height:450px){
    .video-container video{
        height: auto;
        width: 100vw;
    }
    h2{
        font-size: 1rem !important;
    }
}

@media all and (max-width:400px) {

    .video-container video{
        transform: rotate(90deg);
    }

    h2{
        font-size: 1rem !important;
    }
}
.home-content{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.home-content.active{
    /* align-items: start;
    background-color: rgba(0, 0, 0, 0.3);
    padding-left: 5%; */
    width: 20vw;
    position: absolute;
    left:0;
    background-color: rgba(0, 0, 0, 0.3);

}

.home-content h2{
    color:white;
    font-size: 2rem;
    font-weight: 100;
    border-bottom: 1px solid white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.home-content h2.onPlay{
    border-bottom: 1px solid #FD6262;
}
.home-content h2.offPlay{
    border-bottom: 1px solid gray;
}

.home-content a{
    text-decoration: none;
}
.home-content span{
    transition: all 0.3s ease-in-out;
}

.home-content span.offPlay{
    color:gray !important;
}
.home-content span.onPlay{
    color:#FD6262 !important;
}

.page-container{
    position: absolute;
    top: 0;
    right: -100%;
    width: 80vw;
    height: 100%;
    background-color: white;
    transition: all 0.7s ease-in-out;
    border-radius: 12px 0px 0px 12px;
}

.page-container.active{
    right: 0%;
} 