/* .profile-container{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    box-shadow:5px 5px 15px 10px gray ;
} */

.profile-container{
    position: relative;
    width: 100%;
    height: 100%;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: 50% 50%;
    overflow: scroll;
}

.profile-photo-container{
    position: relative;
    width: 90%;
}

.profile-photo-container img{
    position: relative;
    width: 100%;
    border-radius: 6px;
    box-shadow:5px 5px 15px 3px gray ;
}

.contact-info{
    position: relative;
    width: 90%;
    height: auto;
}

.contact-info h3{
    font-size: 1.5rem;
    font-weight: 100;
    border-bottom: 1px solid silver;
    text-align: left;
}

.contact-info h3>span{
    font-size: 2rem;
    font-weight: 300;
    margin-left: 30px;
    color:rgb(97, 94, 233);
}

.contact-info p{
    text-align: left;
}

.contact-info p>span{
    color:rgb(97, 94, 233);
    border-bottom: 1px solid rgb(97, 94, 233);
    cursor: pointer;
}

.profile-detail{
    grid-column: 1/3;
}

/* .profile-detail-item{
    color: rgb(97, 94, 233);
}

.profile-detail-item.Mui-expanded{
    color: white;
    background-color: rgb(97, 94, 233);
} */

/* .item-background{
    clip-path: circle(0% at 0% 0%);
    position: absolute;
} */