.projects-container{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    border-radius: 6px;
    padding: 10px;
}

.project-item{
    position: relative;
    /* max-height: 40%; */
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    color: white;
    background-color: white !important;
    box-shadow: 5px 5px 5px 3px silver !important;
}

.project-item img{
    border-bottom: 1px solid silver;
}

.project-item h3{
    text-align: start;
    font-weight: 1000;
}

.project-item button{
    position: absolute;
    bottom: 0;
}

.project-item p{
    text-align: start;
}
.project-detail{
    background-color: white;
    position: relative;
    min-width: 70vw;
    max-width: 80vw;
    max-height: 90vh;
    padding: 0px 20px;
    /* align-items: baseline; */
}
.project-detail .img-wrapper{


}
.project-detail img{


}

.project-detail .project-detail-content{
    position: relative;
    width: 80%;
    max-height: 100%;
    object-position: center;
}
.project-detail-content{
    display: flex;
    justify-content: space-between;
}
.project-detail-content section{
    padding:0px 20px;
}
.project-detail-content label{
    font-size: 1.2rem;
}

.project-detail-content a{
    font-size: 1rem;
    text-decoration: none;
    background-color: rgb(97, 94, 233);
    color:white;
    border-radius: 6px;
    padding:0px 3px;
}

.project-detail-content .tools .tool-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}
.tool-list li{
    margin-right: 30px;
}
@media (max-height:500px) {
    .project-item button{
        color: white;
        background-color:rgb(97, 94, 233) ;
    }
}

@media (max-width: 1024px){
    .project-detail-content{
        display: flex;
        flex-wrap: wrap;
    }
}

@media (max-width:500) {
    .project-detail-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }
}