.projects-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    border-radius: 6px;
    padding: 10px;
}

.project-item {
    position: relative;
    /* max-height: 40%; */
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: white;
    background-color: white !important;
    box-shadow: 5px 5px 5px 3px silver !important;
}

.project-item img {
    border-bottom: 1px solid silver;
}

.project-item h3 {
    text-align: start;
    font-weight: 1000;
}

.project-item button {
    position: absolute;
    bottom: 0;
}

.project-item p {
    text-align: start;
}

.project-detail {
    background-color: white;
    /* padding: 20px 20px; */
    max-height: 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.project-detail .img-wrapper {
    position: relative;
    width: 100%;
    max-height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    overflow: auto;
}

.project-detail img {
    /* border-radius: 6px;
    max-height: 100%;  */
    position: relative;
    width: 100%;
    
}

.project-detail .project-detail-content {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid rgb(97, 94, 233);
    border-radius: 6px;
}

.project-detail-content section {
    padding: 0px 20px;
    position: relative;
    width: 100%;
}

.project-detail-content label {
    font-size: 1.2rem;
}

.project-detail-content a {
    font-size: 1rem;
    text-decoration: none;
    /* background-color: rgb(97, 94, 233); */
    background-color: white;
    color: rgb(97, 94, 233);
    border-radius: 6px;
    padding: 0px 3px;
    transition: all 0.3s ease-in-out;
}

.project-detail-content .tools .tool-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.tool-list li {
    margin-right: 30px;
}

.project-info {
    background-color: rgb(97, 94, 233);
    color: white;
    border-radius: 6px;
}

.project-info * {
    margin-bottom: 10px;
}

@media (max-height:500px) {
    .project-item button {
        color: white;
        background-color: rgb(97, 94, 233);
    }
}

@media (max-width: 1024px) {
    .project-detail-content {
        display: flex;
        flex-wrap: wrap;
    }
}

@media (max-width:600px) {
    .project-detail {
        padding: 0%;
        overflow: auto;
    }

    .project-detail .img-wrapper {
        display: none;
    }

    .project-detail-content {
        width: 100%;
        height: 100%;
    }

}